<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars News</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Visit Mars?!</h1>
      <p>Riviting Red Rock, as far as the eye can sees</p>
      <p><a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/scrape" role="button">Collect most recent data!</a></p>
    </div>
  </div>
  <div class="container">
    <div class="row" id="mars-news">
      
      <div class="col-md-6">
        
          <h2>Latest Mars News:</h2>
          <h5>{{mars_data.news_date}}</h5>
          <h3 style= "color: #201f1f"> {{mars_data.news_title}}</h3>
            <p style="color: #5e0f0f"> 
                Why is abstract not showing up?!?!?!?!?!?!
                {{mars_data.news_abstract}}
            </p>
        
      </div>
      <div class="col-md-6">
        <img src="{{mars_data.featured_image_url}}" alt="Mars featured image" style="max-width: 100%; height: 400px;">
      </div>
    </div>

    
</body>

</html>
